
<div class="col-lg-8 col-lg-offset-2">
  <h1>Book page</h1>
  <ul>
    <li>Name: {{ kid.name }}</li>
    <li>Date of Birth: {{ kid.dob }}</li>
    <li>Mom's Name: {{ kid.mom_name }}</li>
    <li>Dad's Name: {{ kid.dad_name }}</li>
    <li>Birthplace: {{ kid.birthplace }}</li>
    <li>Length: {{ kid.length }}</li>
    <li>Weight: {{ kid.weight }}</li>
    <button ng-click="updateKid(kid)">Edit</button>

      <input ng-show='editMode' type="text" ng-model="kid.name">

    <hr />
    Search: <input ng-model="search">
    <h1>MileStones</h1>

    <ul ng-repeat="events in kid.milestones | filter: search">
        <li>Name: {{ events.name }}</li>
        <li>Description: {{ events.description}}</li>
    </ul>

    <a ui-sref="book.newMilestone">Add new milestone</a>
  </ul>
  <ui-view></ui-view>

</div>
