<div class="col-lg-8 col-lg-offset-2">
  <h1>Book page</h1>
  <ul>
    <li>{{ kid.name }}</li>
    <li>{{ kid.dob }}</li>
    <hr />
    <h1>MileStones</h1>
    <ul ng-repeat="events in kid.milestones">
        <li>Name: {{ events.name }}</li>
        <li>Description: {{ events.description}}</li>
    </ul>
    <a ui-sref="book.newMilestone">Add new milestone</a>
  </ul>

</div>
