<div class="container">
  <div class="row">
    <div class='col-md-6'>
      <h1>Birth Info</h1>
    </div>
    <div class="col-md-6">
      <h1>Milestones</h1>
    </div>

  </div>
  <div class="row">
    <div class="col-md-6">
      <h4>
        <span class="">Name</span>:
        <span ng-show="!editModer"><small>{{ kid.name }}</small></span>
        <input type="text" ng-model="kid.name" ng-show="editModer">
      </h4>
      <h4>
        <span class="">Date of Birth</span>:
        <span ng-show="!editModer"><small>{{ kid.dob }}</small></span>
        <input type="text" ng-model="kid.dob" ng-show="editModer">
      </h4>
      <h4>
        <span class="">Mom's Name</span>:
        <span ng-show="!editModer"><small>{{ kid.mom_name }}</small></span>
        <input type="text" ng-model="kid.mom_name" ng-show="editModer">
      </h4>
      <h4>
        <span class="">Dad's Name</span>:
        <span ng-show="!editModer"><small>{{ kid.dad_name }}</small></span>
        <input type="text" ng-model="kid.dad_name" ng-show="editModer">
      </h4>
      <h4>
        <span class="">Birthplace</span>:
        <span ng-show="!editModer"><small>{{ kid.birthplace }}</small></span>
        <input type="text" ng-model="kid.birthplace" ng-show="editModer">
      </h4>
      <h4>
        <span class="">Length</span>:
        <span ng-show="!editModer"><small>{{ kid.length }}</small></span>
        <input type="text" ng-model="kid.length" ng-show="editModer">
      </h4>
      <h4>
        <span class="">Weight</span>:
        <span ng-show="!editModer"><small>{{ kid.weight }}</small></span>
        <input type="text" ng-model="kid.weight" ng-show="editModer">
      </h4>

        <button ng-click="editModer = true" class='btn btn-primary'>Edit</button>
        <button ng-click="updateKid(kid); editModer = false" ng-show="editModer" class="btn btn-success">Update</button>
    </div><br>
   <div class="col-md-6">
      <input ng-model="search" placeholder="search for milestone" class="form-control"><br>

     <div ng-repeat="events in kid.milestones | filter: search" class='well'>
           <h4>
             <span ng-show="!editMode">{{ events.name }}</span>
             <input type="text" ng-model="events.name" ng-show="editMode">
           </h4>
           <p>
             <span ng-show="!editMode">{{ events.description }}</span>
             <input type="text" ng-model="events.description" ng-show="editMode">
           </p>
           <button  ng-click="editMode = true"><i class="fa fa-pencil" aria-hidden="true"> Edit</i></button>
           <button ng-show="!editMode" ng-click="deleteEvent(events)"><i class="fa fa-ban" aria-hidden="true"> Delete</i></button>
           <button ng-show="editMode" ng-click="updateEvent(events); editMode = false"><i class="fa fa-check" aria-hidden="true"> Update</i></button>
           <button ng-click="increaseCount(events)"><i class='fa fa-check' aria-hidden='true'> {{ events.upvotes }}</i></button>
     </div>
     <button ui-sref="book.newMilestone" class="btn btn-primary">New Milestone</button>
     <hr />
     <ui-view></ui-view>
   </div>



  </div>
</div>
