<div class="container">
  <div class="row">
    <div class='col-md-6'>
      <h1>Birth Info</h1>
    </div>
    <div class="col-md-6">
      <h1>Milestones</h1>
    </div>

  </div>
  <div class="row">
    <div class="col-md-6">
      <h4>
        <span class="label label-default">Name</span>
        <span ng-show="!editMode">{{ kid.name }}</span>
        <input type="text" ng-model="kid.name" ng-show="editMode">
      </h4>
      <h4>
        <span class="label label-default">Date of Birth</span>
        <span ng-show="!editMode">{{ kid.dob }}</span>
        <input type="text" ng-model="kid.dob" ng-show="editMode">
      </h4>
      <h4>
        <span class="label label-default">Mom's Name</span>
        <span ng-show="!editMode">{{ kid.mom_name }}</span>
        <input type="text" ng-model="kid.mom_name" ng-show="editMode">
      </h4>
      <h4>
        <span class="label label-default">Dad's Name</span>
        <span ng-show="!editMode">{{ kid.dad_name }}</span>
        <input type="text" ng-model="kid.dad_name" ng-show="editMode">
      </h4>
      <h4>
        <span class="label label-default">Birthplace</span>
        <span ng-show="!editMode">{{ kid.birthplace }}</span>
        <input type="text" ng-model="kid.birthplace" ng-show="editMode">
      </h4>
      <h4>
        <span class="label label-default">Length</span>
        <span ng-show="!editMode">{{ kid.length }}</span>
        <input type="text" ng-model="kid.length" ng-show="editMode">
      </h4>
      <h4>
        <span class="label label-default">Weight</span>
        <span ng-show="!editMode">{{ kid.weight }}</span>
        <input type="text" ng-model="kid.weight" ng-show="editMode">
      </h4>

        <button ng-click="editMode = true" class='btn btn-primary'>Edit</button>
        <button ng-click="updateKid(kid); editMode = false" ng-show="editMode" class="btn btn-success">Update</button>
    </div><br>
   <div class="col-md-6">
      <input ng-model="search" placeholder="search for milestone" class="form-control"><br>

     <div ng-repeat="events in kid.milestones | filter: search" class='well'>
           <h4>{{ events.name }}</h4>
           <p>{{ events.description}}</p>
           <button  ng-click="editMode = true"><i class="fa fa-pencil" aria-hidden="true"> Edit</i></button>
           <button ng-show="!editMode"><i class="fa fa-ban" aria-hidden="true"> Delete</i></button>
           <button ng-show="editMode" ng-click="updateEvent(events); editMode = false"><i class="fa fa-check" aria-hidden="true"> Update</i></button>
     </div>
     <button ui-sref="book.newMilestone" class="btn btn-primary">New Milestone</button>
     <hr />
     <ui-view></ui-view>
   </div>



  </div>
</div>
