
<div class="col-lg-8 col-lg-offset-2">
  <h1>Edit</h1>
  <div>
    <h2>AngularJS Put request </h2>
    <form ng-submit="updateData()">
        <p>First Name: <input type="text" name="firstName" ng-model="kid.firstName" required /></p>
        <p>Last Name: <input type="text" name="lastName" ng-model="lastName" required /></p>
        <p>Age : <input type="number" name="age" ng-model="age" required /></p>
        <input type="submit" value="Edit" />
        <hr />
        {{ ServerResponse }}
    </form>
</div>

</div>
