<div class="container">
  <div class="jumbotron">
    <h1>Sprout <i class="fa fa-leaf" aria-hidden="true"></i></h1>
    <p>The place to keep track of your babies as they grow! Sign up or login to get started!</p>
    <p>
    <a class="btn btn-success btn-lg" ui-sref="login" role="button">Login</a>
    <a class="btn btn-primary btn-lg" ui-sref="register" role="button">Sign up</a>
  </div>
</div>
