<div class="container">
  <h1>Hey! {{ user.username }}</h1>
  <hr />
  <h4>These are your kids. Click on a name to view their book.</h4><br>
  <h4 ng-repeat="kid in kids">
  <i class="fa fa-arrow-right" aria-hidden="true"></i> <a ui-sref="book({ id: kid.id })">{{ kid.name }}</a>
</h4>
<hr />
<h4>New kid in the family?</h4>
<button type="button" class="btn btn-default" ui-sref="newKid">New Kid Book</button>
</div>
