<div class="container">
  <h1>Hey! {{ user.username }}</h1>
  <hr />
  <p>These are your kids. Click on a name to view their book.</p>
  <h4 ng-repeat="kid in kids">
  - <a ui-sref="book({ id: kid.id })">{{ kid.name }}</a>
</h4>
<p>New kid in the family?</p>
  <a ui-sref="newKid">Create New Kid Book</a>
</div>
